<h1 class="bg-primary text-center text-white p-2">{{ title }}</h1>
<ul>
  <li>1</li>
  <li>2</li>
  <li>3</li>
  <li>4</li>
</ul>
<p>{{ 2 * 2 }}</p>

<button (click)="changeTitle()" class="btn btn-primary btn-lg">
  Change Title
</button>

<!-- Directivas de estructura -->

<!-- *ngFor -->

<p>ways to type asdf</p>
<p>{{ asdfs }}</p>
<p>at least {{ listAsdfs() }} ways to type asdf</p>

<ol>
  <li *ngFor="let asdf of asdfs">{{ asdf }}</li>
</ol>

<!-- *ngIf -->

<div *ngIf="listAsdfs() > 8; else asdfElse" class="text-primary">
  <p>8 or less ways to type asdf</p>
</div>
<ng-template #asdfElse>
  <div class="text-danger">more than 8 ways to type asdf</div>
</ng-template>

<!-- *ngSwitchCase -->

<hr />
<div [ngSwitch]="listAsdfs()">
  <span *ngSwitchCase="7">There are 7 asdf</span>
  <span *ngSwitchCase="8">There are 8 asdf</span>
  <span *ngSwitchCase="9">There are 9 asdf</span>
</div>

<!-- *ngModel -->
<!-- ngModel se debe agregar en el app.module.ts en el import de @NgModule ....Forms -->
<!--  [] va y viene
      () va desde el html al componente (sube)
      [()] va desde el componente al html (baja)
  -->

<input type="text" [(ngModel)]="newAsdf" /> {{ newAsdf }}
<button (click)="addNewAsdf()">New Asdf</button>

<div>
  <select [(ngModel)]="selection">
    <option value="asdf">asdf</option>
    <option value="sdfa">sdfa</option>
    <option value="dfas">dfas</option>
    <option value="fasd">fasd</option>
  </select>
  <div>
    <p>Your selection is {{ selection }}</p>
  </div>
</div>

<!-- <div> Bad choice
  <select (value)="selection" (change)="selection=$event.target.value">
    <option value="asdf">asdf</option>
    <option value="sdfa">sdfa</option>
    <option value="dfas">dfas</option>
    <option value="fasd">fasd</option>
  </select>
  {{selection}}
</div> -->
